{% extends 'index.html' %}


{% block content %}

<h2>Llistat d'Alumnes</h2>

<table>
    <tr>
        <th>Nom</th>
        <th>Cognom</th>
        <th>Email</th>
        <th>Curs</th>
        <th>Acciones</th>
    </tr>
    {% for usr in usrs %}
    <tr>
        <td>{{ usr.name }}</td>
        <td>{{ usr.surname }}</td>
        <td>{{ usr.email }}</td>
        <td>{{ usr.Curs }}</td>
        <td>
            <a href="{% url 'details' pk=usr.id %}">
                <button>Ver detalles</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<ul>
    {%for book in books%}
    <li> Title: <a href="{% url 'book' book.id %}"> {{books.title}}</a></li>
    <li>Author: {{ books.author}}</li>
    <li>info: {{books.info}}</li>
</ul>
{% endfor %}
     <a href="{% url 'user_form' %}"> Afegir alumnes</a>
{% endblock %}



