{% extends 'index.html' %}

{% block content %}

<h1>Informacio professorat TIC</h1>
{% for profe in professors %}
<div style="background-color: #d2db86; padding: 10px; margin-bottom: 10px; color: #292626;">
    <p><strong>Nom:</strong> {{ profe.name }}</p>
    <p><strong>Cognom:</strong> {{ profe.surname }}</p>
    <p><strong>Cognom2:</strong> {{ profe.surname2 }}</p>
    <p><strong>Correu electrònic:</strong> {{ profe.email }}</p>
    <p><strong>tutor:</strong> {{ profe.tutor }}</p>

</div>

{% endfor %}
<ul>
    {%for book in books%}
    <li> Title: <a href="{% url 'book' book.id %}"> {{books.title}}</a></li>
    <li>Author: {{ books.author}}</li>
    <li>info: {{books.info}}</li>
</ul>
{% endfor %}
     <a href="{% url 'professor_form' %}"> Afegir Professors</a>
{% endblock %}
